*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #313131;
    font-family: "Be Vietnam Pro", sans-serif;
}

:root{
    --purple: #9500ff;
    --gray: #313131;
    --dark-gray: #2d2d2d;
}


/* Styles of Nav */


.nav-banner{
    color: #fff;
    font-size: 18px;
    background-color: var(--purple);
    height: 40px;
    width: 95%;
    display: block;
    margin-left: 2.5%;
    margin-top: 40px;
    border-radius: 8px;
}

.top-banner p{
    display: inline-block;
    margin-top: 8px;
    margin-left: 35%;
}

.top-banner img{
    position: relative;
    transform: translate(23px);
    cursor: pointer;
    background-color: var(--purple);
    transition: all 0.3s ease-in;
}

.top-banner img:hover{
    transform: rotate(180deg);
}

.navbar{
    display: flex;
    margin-top: 20px;
}

.logo{
    width: 54px;
    height: 54px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.logo:hover{
    transform: rotate(180deg);
    filter: drop-shadow(0 0 5 var(--purple));
}

.pages button{
    font-size: 18px;
    border: none;
    background-color: var(--gray);
    cursor: pointer;
    color: #fff;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(0, -22px);
}

.pages a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in;
}

.pages a:hover{
    filter: drop-shadow(0 0 5px gray);
}

.main-logo{
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.pages{
    margin-left: 120px;
}

.signup{
    font-size: 18px;
    border: none;
    background-color: var(--gray);
    cursor: pointer;
    color: #fff;
    margin-top: -5px;
}

.login{
    margin-left: 30px;
    background-color: var(--purple);
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    width: 105px;
    height: 55px;
    border-radius: 8px;
}

.acc a{
    text-decoration: none;
    color: #fff;
}

.acc{
    display: flex;
    margin-left: 670px
}
/*  */
.title-c{
    color: #fff;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 109px;
    width: 1800px;
    gap: 100px;
}

.title-c h1{
    font-size: 48px;
    font-weight: 600;
    width: 748px;
    margin-left: auto;
    margin-right: auto;
}

.title-c p{
    width: 748px;
    font-size: 18px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

.video{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.five-cards{
    display: grid;
    grid-template-columns: repeat(2,783px);
    grid-template-rows: repeat(3,698px);
    grid-gap: 30px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.crad{
    display: flex;
    width: 753px;
    height: 688px;
    background-color: #2d2d2d;
}

.card-q h1{
    color: #fff;
    width: 683px;
    height: 59px;
    font-size: 80px;
    font-weight: 700;
    text-align: right;
    margin-left: 50px;
    margin-top: 50px;
}

.card-q p{
    color: #fff;
    width: 683px;
    height: 36px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 50px;
}

.card-q-q{
    margin-top: 50px;
    color: #fff;
}

.crad-r-p{
    margin-top: 50px;
}

.card{
    border: 2px solid black;
    border-radius: 10px;
}

.les{
    position: absolute;
    transform: translate(-200px,60px);
}

.card-r,.card-s,.card-u{
    height: 111px;
}

.s{
    margin-left: 50px;
}

.btn-q{
    background-color: var(--dark-gray);
    width: 153px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    display: inline;
    margin-left: 50px;
    border: none;
    border-radius: 8px;
}

.btn-q img{
    width: 15px;
}

@media (max-width: 426px) {

    .pages {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--gray);
        position: absolute;
        top: 60px;
        left: 0;
        position: static;
        transform: translate(-110px,80px);
        z-index: 1;
        width: auto;
        height: auto;
        margin-left: 0;
        padding-top: 0;
        box-shadow: none;
    }

    .signup{
        position: absolute;
        transform: translate(-900px,20px);
        width: 53px;
        font-size: 14px;
    }

    .login{
        position: absolute;
        transform: translate(-850px);
        width: 78px;
        font-size: 14px;
        height: 45px;
    }

    .logo{
        display: none;
    }

    .pages button {
        margin: 10px -32px;
        text-align: center;
        width: 100%;
    }

    .hamburger {
        display: flex;
        width: 30px;
        height: 30px;
        margin-left: 322px;
    }

    .main-logo{
        margin-left: 16px;
        display: flex;
        width: 40px;
        height: 40px;
    }

    .top-banner{
        width: 358px;
        height: 41px;
        font-size: 14px;
        font-weight: 400;
    }

    .top-banner p{
        width: 625px;
        height: 21px;
        margin: 0;
        padding: 10px 48px 10px 16px;
    }

    .top-banner img{
        position: relative;
        transform: translate(360px,-17px)
    }
    
    .top-banner img:hover{
        transform: rotate(0deg);
        transform: translate(360px,-17px)
    }    

    }
    
    .pages.active {
    display: flex;
    }
    
    /* Styles of Scrollbar */
    
    
    ::-webkit-scrollbar {
    width: 8px;
    }
    
    ::-webkit-scrollbar-track {
    background: var(--gray);
    }
    
    ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid var(--dark-gray);
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }
    