*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #313131;
    font-family: "Be Vietnam Pro", sans-serif;
}

:root{
    --purple: #9500ff;
    --gray: #313131;
    --dark-gray: #2d2d2d;
}


/* Styles of Nav */


.nav-banner{
    color: #fff;
    font-size: 18px;
    background-color: var(--purple);
    height: 40px;
    width: 95%;
    display: block;
    margin-left: 2.5%;
    margin-top: 40px;
    border-radius: 8px; 
}

.top-banner p{
    display: inline-block;
    margin-top: 8px;
    margin-left: 35%;
}

.top-banner img{
    position: relative;
    transform: translate(23px);
    cursor: pointer;
    background-color: var(--purple);
    transition: all 0.3s ease-in;
}

.top-banner img:hover{
    transform: rotate(180deg);
}

.navbar{
    display: flex;
    margin-top: 20px;
}

.logo{
    width: 54px;
    height: 54px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.logo:hover{
    transform: rotate(180deg);
    filter: drop-shadow(0 0 5 var(--purple));
}

.pages button{
    font-size: 18px;
    border: none;
    background-color: var(--gray);
    cursor: pointer;
    color: #fff;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(0, -22px);
}

.pages a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in;
}

.pages a:hover{
    filter: drop-shadow(0 0 5px gray);
}

.main-logo{
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.pages{
    margin-left: 120px;
}

.signup{
    margin-left: 200px;
    font-size: 18px;
    border: none;
    background-color: var(--gray);
    cursor: pointer;
    color: #fff;
    margin-top: -5px;
}

.login{
    margin-left: 30px;
    background-color: var(--purple);
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    width: 105px;
    height: 55px;
    border-radius: 8px;
}

.acc a{
    text-decoration: none;
    color: #fff;
}

.acc{
    display: flex;
    margin-left: 670px
}

/*  */

.title-texts{
    width: 1620px;
    height: 160px;
    color: #fff;
    border-bottom: 1px solid gray;
    display: flex;
    gap: 300px;
    padding: 0 60px 40px 60px;
    margin-top: 222px;
    margin-left: auto;
    margin-right: auto;
}

.title-texts h1{
    width: 600px;
    height: 114px;
    font-size: 38px;
    font-weight: 600;
}

.title-texts p{
    width: 600px;
    height: 120px;
    font-size: 16px;
    font-weight: 400;
}

/*  */

.prc{
    display: flex;
    justify-content: center;
}

.monthly{
    cursor: pointer;
    background-color: var(--purple);
    border: none;
    font-size: 18px;
    height: 47px;
    width: 102px;
    border-radius: 8px;
    margin-top: 69px;
    transition: all 0.3s ease-in;
}

.monthly:hover{
    filter: drop-shadow(0 0 10px var(--purple));
}

.monthly a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.yearly{
    cursor: pointer;
    background-color: var(--dark-gray);
    border: none;
    font-size: 18px;
    height: 47px;
    width: 102px;
    margin-left: 15px;
    border-radius: 8px;
    margin-top: 69px;
    transition: all 0.3s ease-in;
}

.yearly:hover{
    filter: drop-shadow(0 0 10px gray);
}

.yearly a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

/* Styles of Pricing Cards */


.pricing{
    width: 1597px;
    height: 1226px;
    grid-gap: 30px;
    border-radius: 12px;
    background-color: var(--dark-gray);
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.pricing-one, .pricing-two{
    width: 703.5px;
    height: 1066px;
}

.pricing-one{
    background-color: #282828;
    border-radius: 8px;
    margin-top: 80px;
    border-radius: 12px;
    justify-content: center;
    margin-left: 80px;
}

.pricing-two{
    background-color: #282828;
    border-radius: 8px;
    margin-top: 80px;
    border-radius: 12px;
}

.plan{
    background-color: var(--purple);
    color: #fff;
    width: 643.5px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 600;
}

.plan-price{
    width: 643.5px;
    height: 58px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 50px;
    color: #fff;
}

.price{
    font-size: 80px;
    font-weight: 600;
}

.month{
    font-size: 20px;
    font-weight: 500;
    margin-top: 60px;
}

.features{
    width: 643.5px;
    height: 700px;
    padding: 80px;
    border-radius: 14px 14px 0 0;
    margin-top: 50px;
    margin-left: 30px;
    background-color: var(--dark-gray);
}

.features-text{
    display: flex;
    height: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
}

.marks{
    filter: drop-shadow(0 0 5px gray);
    margin-top: 20px;
    color: #fff;
    height: 60px;
}

.marks img{
    
    margin-left: 14px;
    margin-top: 14px;
}

.marks p{
    position: absolute;
    transform: translate(58px,-35px);
}

.mark-btn{
    color: #fff;
    background-color: var(--purple);
    width: 643.5px;
    height: 67px;
    margin-left: 30px;
    border: none;
    border-radius: 0 0 12px 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}


/* Styles of FAQ */


.faq{
    margin-top: 150px;
    width: 1595px;
    height: 1052px;
    background-color: var(--dark-gray);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.faq-text{
    margin-right: 130px;
    margin-top: 100px;
    width: 408px;
    color: #fff;
}

.faq-text h1{
    font-size: 48px;
    font-weight: 600;
    width: 408px;
}

.faq-text p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.faq-text button{
    margin-top: 50px;
    width: 164px;
    height: 63px;
    cursor: pointer;
}

.faq-text button a{
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: 500;
}

.faq-container{
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 100px;
    color: #fff;
}

.x{
    width: 867px;
    height: 326px;
    border-radius: 12px;
    background-color: #282828;
}

.xmark-cnt{
    width: 767px;
    height: 76px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
    padding-top: 30px;
}

.xmark-cnt img{
    cursor: pointer;
    position: relative;
    transform: translate(710px, -20px);
}

.absolutely{
    width: 767px;
    height: 54px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 50px;
}

.rounded-arrow{
    width: 767px;
    height: 96px;
    margin-left: 50px;
    margin-top: 55px;
    font-size: 18px;
    font-weight: 500;
}

.rounded-arrow img{
    cursor: pointer;
    transform: translate(703px, -40px);
    width: 46px;
    height: 46px;
}

.plus{
    margin-top: 30px;
}

.question{
    width: 867px;
    height: 112px;
    border-radius: 12px;
    background-color: #282828;
    margin-top: 30px;
}

.question p{
    width: 665px;
    font-size: 20px;
    font-weight: 500;
    padding: 30px 50px;
}

.question img{
    cursor: pointer;
    position: relative;
    transform: translate(760px, -50px);
}

#img-plus{
    cursor: pointer;
    position: relative;
    transform: translate(760px, -70px);
}


/* Styles of Footer */


.footer{
    height: 472px;
    background-color: var(--dark-gray);
    color: #fff;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}


.cpy{
    margin-top: 100px;
    max-width: 1920px;
    width: auto;
    height: 215px;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}

.logo-cpy{
    width: 54px;
    height: 54px;
}

.contact{
    margin-top: 40px;
}

.mail{
    width: 225px;
    height: 27px;
    gap: 7.5px;
    display: flex;
    align-items: center;
}

.mail-img{
    width: 24px;
    height: 20px;
}

.phone{
    margin-top: 21.5px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.phone-img{
    width: 24px;
    height: 24px;
}

.map{
    margin-top: 21.5px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.location-img{
    width: 24px;
    height: 24px;
}

.second-part{
    display: flex;
}

.one{
    margin-left: 559px;
}

.type-one{
    color: #bebebe;
}

.btn-ones{
    margin-top: 14px;
}

.btn-ones p{
    cursor: pointer;
    margin-top: 4px;
}

.two{
    margin-left: 30px;
}

.type-two{
    color: #bebebe;
}

.btn-twos{
    margin-top: 14px;
}

.btn-twos p{
    cursor: pointer;
    margin-top: 4px;
}

.three{
    margin-left: 30px;
}

.type-three{
    color: #bebebe;
}

.img-threes{
    margin-top: 14px;
}

.first{
    margin-left: 0;
    cursor: pointer;
}

.second, .third{
    margin-left: 14px;
    cursor: pointer;
}

.cpyout span{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}


/* Responsive Design */


@media (max-width: 426px) {

    .pages {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--gray);
        position: absolute;
        top: 60px;
        left: 0;
        position: static;
        transform: translate(-110px,80px);
        z-index: 1;
        width: auto;
        height: auto;
        margin-left: 0;
        padding-top: 0;
        box-shadow: none;
    }

    .signup{
        position: absolute;
        transform: translate(-1090px,20px);
        width: 53px;
        font-size: 14px;
    }

    .login{
        position: absolute;
        transform: translate(-850px);
        width: 78px;
        font-size: 14px;
        height: 45px;
    }

    .logo{
        display: none;
    }

    .pages button {
        margin: 10px -32px;
        text-align: center;
        width: 100%;
    }

    .hamburger {
        display: flex;
        width: 30px;
        height: 30px;
        margin-left: 322px;
    }

    .main-logo{
        margin-left: 16px;
        display: flex;
        width: 40px;
        height: 40px;
    }

    .top-banner{
        width: 358px;
        height: 41px;
        font-size: 14px;
        font-weight: 400;
    }

    .top-banner p{
        width: 625px;
        height: 21px;
        margin: 0;
        padding: 10px 48px 10px 16px;
    }

    .top-banner img{
        position: relative;
        transform: translate(360px,-17px)
    }
    
    .top-banner img:hover{
        transform: rotate(0deg);
        transform: translate(360px,-17px)
    }

    .pricing{
        width: 400px;
        height: 2207px;
        grid-gap: 30px;
        border-radius: 12px;
        background-color: var(--dark-gray);
        margin-top: 80px;
        display: flex;
    }
    
    .pricing-one, .pricing-two{
        width: 380px;
        height: 1070px;
    }
    
    .pricing-one{
        background-color: #282828;
        border-radius: 8px;
        margin-top: 10px;
        border-radius: 12px;
        justify-content: center;
        margin-left: 10px;
    }
    
    .pricing-two{
        background-color: #282828;
        border-radius: 8px;
        margin-top: 10px;
        border-radius: 12px;
        margin-left: -410px;
        margin-top: 1100px;
    }
    
    .plan{
        background-color: var(--purple);
        color: #fff;
        width: 320px;
        height: 61px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        margin-top: 50px;
        border-radius: 8px;
        font-size: 22px;
        font-weight: 600;
    }
    
    .plan-price{
        width: 300px;
        height: 58px;
        display: flex;
        justify-content: center;
        margin-left: 40px;
        margin-top: 50px;
        color: #fff;
    }
    
    .price{
        font-size: 50px;
        font-weight: 600;
    }
    
    .month{
        font-size: 14px;
        font-weight: 500;
        margin-top: 40px;
    }
    
    .features{
        width: 340px;
        height: 700px;
        padding: 80px;
        border-radius: 14px 14px 0 0;
        margin-top: 50px;
        margin-left: 20px;
        background-color: var(--dark-gray);
    }
    
    .features-text{
        display: flex;
        width: 237px;
        height: 18px;
        color: #fff;
        margin-left: -30px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
    
    .marks{
        filter: drop-shadow(0 0 5px gray);
        margin-top: 20px;
        color: #fff;
        height: 60px;
    }
    
    .marks img{
        width: 24px;
        height: 24px;
        margin-left: -30px;
        margin-top: 14px;
    }
    
    .marks p{
        font-size: 14px;
        width: 181px;
        height: 42px;
        margin-left: -40px;
    }
    
    .mark-btn{
        color: #fff;
        background-color: var(--purple);
        width: 340px;
        height: 57px;
        margin-left: 20px;
        border: none;
        border-radius: 0 0 12px 12px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
    }
    /*  */
    .faq{
        width: 400px;
        height: 1227px;
        grid-gap: 30px;
        border-radius: 12px;
        background-color: var(--dark-gray);
        margin-top: 80px;
        display: flex;
    }
    
    .faq-text{
        margin-right: 130px;
        margin-top: 64px;
        margin-left: 10px;
        width: 408px;
        color: #fff;
    }
    
    .faq-text h1{
        font-size: 28px;
        font-weight: 600;
        width: 308px;
    }
    
    .faq-text p{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
    }
    
    .faq-text button{
        margin-top: 20px;
        width: 164px;
        height: 63px;
        cursor: pointer;
    }
    
    .faq-text button a{
        text-decoration: none;
        color: var(--dark-gray);
        font-size: 18px;
        font-weight: 500;
    }
    /*  */
    .faq-container{
        margin-top: 300px;
        margin-left: -310px;
        color: #fff;
    }
    
    .x{
        margin-left: -265px;
        width: 380px;
        height: 326px;
        border-radius: 12px;
        background-color: #282828;
    }
    
    .xmark-cnt{
        width: 191px;
        height: 48px;
        font-size: 16px;
        font-weight: 500;
        margin-left: 50px;
        padding-top: 30px;
    }
    
    .xmark-cnt img{
        position: relative;
        transform: translate(240px, -30px);
    }
    
    .absolutely{
        width: 300px;
        height: 63px;
        font-size: 14px;
        font-weight: 400;
        margin-left: 50px;
        margin-top: 70px;
    }
    
    .rounded-arrow{
        width: 181px;
        height: 96px;
        margin-left: 50px;
        margin-top: 55px;
        font-size: 14px;
        font-weight: 500;
    }
    
    .rounded-arrow img{
        cursor: pointer;
        transform: translate(230px, -40px);
        width: 40px;
        height: 40px;
    }
    
    .plus{
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .question{
        width: 340px;
        height: 112px;
        border-radius: 12px;
        background-color: #282828;
        margin-top: 30px;
        margin-left: -255px;
    }
    
    .question p{
        width: 281px;
        font-size: 16px;
        font-weight: 500;
        padding: 30px 30px;
    }
    
    .question img{
        cursor: pointer;
        position: relative;
        transform: translate(280px, -60px);
    }
    
    #question-a{
        height: 102px;
    }

    #img-plus{
        cursor: pointer;
        position: relative;
        transform: translate(280px, -60px);
    }

    /*  */
    
    .footer{
        height: 767px;
    }
    
    
    .cpy{
        margin-top: 100px;
        max-width: 426px;
        width: auto;
        height: 215px;
        display: flex;
        align-items: center;
        padding-bottom: 50px;
        border-bottom: 0;
    }
    
    .logo-cpy{
        width: 44px;
        height: 44px;
        margin-left: 20px;
    }
    
    .contact{
        margin-top: 40px;
        margin-left: 20px;
    }
    
    .second-part{
        margin-top: 620px;
    }

    .one{
        margin-left: -225px;
    }
    
    .btn-ones{
        font-size: 14px;
    }
    
    .btn-ones p{
        cursor: pointer;
        margin-top: 4px;
    }
    
    .two{
        margin-left: 30px;
    }
    
    .type-two{
        color: #bebebe;
    }
    
    .btn-twos{
        font-size: 14px;
    }
    
    .btn-twos p{
        cursor: pointer;
        margin-top: 4px;
    }
    
    .three{
        margin-top: 200px;
        margin-left: -200px;
    }
    
    .type-three{
        color: #bebebe;
    }
    
    .img-threes{
        margin-top: 14px;
    }
    
    .first{
        margin-left: 0;
        cursor: pointer;
    }
    
    .second, .third{
        margin-left: 14px;
        cursor: pointer;
    }
    
    .cpyout span{
        display: flex;
        margin-top: 400px;
        justify-content: center;
    }


    .title-texts{
        border: none;
        margin-top: 50px;
    }

    .title-texts h1{
        width: 380px;
        font-size: 18px;
        font-weight: 600;
        height: 52px;
        margin-left: -30px;
    }

    .title-texts p{
        width: 380px;
        margin-top: 80px;
        font-size: 14px;
        margin-left: -680px;
    }

    .prc{
        margin-top: 50px;
    }

}

.pages.active {
    display: flex;
}


/* Styles of Scrollbar */


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--gray);
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid var(--dark-gray);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
